<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PProject DRX - Admin page</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <div><h1><span>P</span>ROJECT <span style="color: cornflowerblue;">DRX</span></h1></div>
        <div id="navbar" class="navbar">
            <ul>
                <li><a href="#whome" id="defaultOpen1">HOME</a></li>
                <li><a href="#wtable">TABLE</a></li>
                <li><a href="#winfo">INFO</a></li>
            </ul>
        </div>
        <div>
            <section id="whome" class="lightbox">
                <div>
                    <h2>Home</h2>
                    <div>
                        <h3>Settings: <span></span></h3>
                        <button id="refreshAllData">Refresh all data</button><br><div class="among"></div>
                        <button id="runScriptStartDatabase" class="Left" style="color: rgb(0, 93, 65); background-color: rgb(110, 250, 160);">Start Database</button>
                        <button id="runScriptStopDatabase" class="Right" style="color: rgb(87, 0, 0); background-color: rgb(245, 113, 113);">Stop Database</button>
                        <br><br>
    
                        <div style="display: flex; gap: 35px;">
                            <div><div>Humidity</div><div id="humidity"></div></div>
                            <div><div>Temperature</div><div id="temperature"></div></div>
                            <div><div>Sound</div><div id="sound"></div></div>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <button class="btn1 button-animation1 activebt1 Left" onclick="listView()">
                            <i class="fa fa-bars"></i> List
                        </button>
                        <button class="btn1 button-animation1 Right" onclick="gridView()">
                            <i class="fa fa-th-large"></i> Grid
                        </button>
                    </div>
                    <div id="menuChart" class="menuChart">
                        <div class="wchart" style="position: relative; max-height: 70vh; width: 100%">
                            <canvas id="chart_humidity"></canvas>
                        </div>
                        <div class="wchart" style="position: relative; max-height: 70vh; width: 100%">
                            <canvas id="chart_temperature"></canvas>
                        </div>
                        <div class="wchart" style="position: relative; max-height: 70vh; width: 100%">
                            <canvas id="chart_sound"></canvas>
                        </div>
                    </div>
                </div>
            </section>
            <section id="wtable" class="lightbox">
                <div>
                    <h2>Table</h2>
                    <div id="hiDatacenter" class="hiContent" style="background: none; padding: 0;">
                        <h3>Data from: <!-- <span></span> -->
                            <select name="select-table-name" id="table-nameselect">
                                <option value="humidity_data">humidity_data</option>
                                <option value="temperature_data">temperature_data</option>
                                <option value="sound_data">sound_data</option>
                            </select>
                        </h3>
                        <table id="TableDatacenter" class="customers">
                            <tr>
                            <th>Time</th>
                            <th>Data</th>
                            </tr>
                        </table>
                        <div class="among"></div>
                    </div>
                </div>
            </section>
            <section id="winfo" class="lightbox">
                <div>
                    <h2>Info</h2>
                    <p>Hola, mi amigo</p>
                </div>
            </section>
        </div>
    </main>
    
</body>
</html>