<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project T1 - Admin Page</title>

    <!-- CSS -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="static/styles.css">
    
    <!-- JS -->
    <script src="static/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background-color"></div>
    <div class="background-image"></div>
    
    <section class="section-1">
        <div class="pageh1"><h1><span>P</span>ROJECT <span style="color: red;">T1</span></h1></div>
    </section>

    <section class="section-2">
        <div class="sub-section-2">
            <div>
                <button id="runScriptStartDatabase" style="color: rgb(0, 93, 65); background-color: rgb(110, 250, 160); font-size: 29px; border-radius: 50px;">START</button>
            </div>
            <!--
            <div>
                <div id="settingsNickname">
                    <h3>Nickname:</h3>
                    <div><input class="Top" type="text" id="playerOneInput" name="playerOneInput" placeholder="Blue player..."></div>
                    <div><input class="Bottom" type="text" id="playerTwoInput" name="playerTwoInput" placeholder="Red player..."></div>
                    <div class="among"></div>
                    <button id="settingsNicknameSubmit" class="Left" type="submit" style="color: rgb(0, 13, 87); background-color: rgb(117, 172, 255);">Submit</button>
                    <button id="resetNames" class="Right" type="reset">Reset Names</button>
                </div>
            </div>
            -->
        </div>
    </section>

    <main class="body-1">
        <div id="table-content1" class="content1">
            <button class="showDiv" data-div="hiDatacenter">FROM DATACENTER<img src="static/img/arrow_drop_down_1.svg"></button>
            <div id="hiDatacenter" class="hiContent" style="background: none; padding: 0;">
                <h3>Circuit ranking table: <!-- <span></span> -->
                    <select name="select-table-name" id="table-nameselect">
                        <!-- <option value="circuit_num1">circuit_num1</option> -->
                    </select>
                </h3>
                <table id="TableDatacenter" class="customers">
                    <tr>
                    <th>Nickname</th>
                    <th>Time</th>
                    </tr>
                </table>
                <div class="among"></div>
            </div>
        </div>

        <div class="content1 part-Ranking">
            <button class="showDiv" data-div="hiRanking">RANKING<img src="static/img/arrow_drop_down_1.svg"></button>
            <div id="hiRanking" class="hiContent">
                <div><p id="first">1st <span id="ranking1st"></span></p></div>
                <div><p id="second">2nd <span id="ranking2nd"></span></p></div>
            </div>
        </div>

        <!--
        <div class="content1">
            <button class="showDiv" data-div="hiLogsTime">LOGS TIME<img src="static/img/arrow_drop_down_1.svg"></button>
            <div id="hiLogsTime" class="hiContent">
                <ul id="logs-time-list"></ul>
            </div>
        </div>
        -->

        <div class="content1">
            <button class="showDiv" data-div="hiBlueRedTime">LOGS TIME<img src="static/img/arrow_drop_down_1.svg"></button>
            <div id="hiBlueRedTime" class="hiContent" style="background: none; padding: 0;">
                <div class="resp-1" style="border-radius: 2px;">
                    <div style="color: cornflowerblue;">
                        <h2><span for="playerOneInput">Blue</span> Time</h2>
                        <ul id="blue-time-list"></ul>
                    </div>
                    <div style="color: red;">
                        <h2><Span for="playerTwoInput">Red</Span> Time</h2>
                        <ul id="red-time-list"></ul>
                    </div>
                </div>
                <button id="saveTimeButton" class="Top" style="color: rgb(0, 13, 87); background-color: rgb(117, 172, 255);">Save Data</button>
                <button id="runScriptDeleteDatabase" class="Top">Delete Database</button>
            </div>
        </div>

        <div class="content1">      <!-- draggable="true" id="item1" -->
            <button class="showDiv in" data-div="hiSettings">SETTINGS<img src="static/img/arrow_drop_down_1.svg"></button>

            <div id="hiSettings" class="hiContent" style="display: none;">
                <button id="runScriptStopServer">Stop Server</button>
                <!-- <button id="runScriptDeleteDatabase">Delete Database</button> -->
                <br><br><div class="among" style="margin: 25px;"></div>
                <input type="text" id="table-name" class="Left" placeholder="Enter table name"><input type="number" id="INnumberLap" class="Mid" name="number" min="1" max="99" value="3"><button id="resetNamesTable" class="Right" type="reset">X</button>
                <br><div class="among"></div>
                <!-- <button id="saveTimeButton" class="Left" style="color: rgb(0, 13, 87); background-color: rgb(117, 172, 255);">Save Data</button> -->
                <button id="refreshAllData" class="Right">Refresh all data</button>
                <br><br><div class="among" style="margin: 25px;"></div>
                <!-- <button id="runScriptStartDatabase" class="Left" style="color: rgb(0, 93, 65); background-color: rgb(110, 250, 160);">Start Database</button> -->
                <button id="runScriptStopDatabase" class="Right" style="color: rgb(87, 0, 0); background-color: rgb(245, 113, 113);">Stop Database</button>
                <br><br>
                <div class="among" style="margin: 25px;"></div>

                <div>
                    <div id="settingsNickname">
                        <h3>Nickname:</h3>
                        <div><input class="Top" type="text" id="playerOneInput" name="playerOneInput" placeholder="Blue player..."></div>
                        <div><input class="Bottom" type="text" id="playerTwoInput" name="playerTwoInput" placeholder="Red player..."></div>
                        <div class="among"></div>
                        <button id="settingsNicknameSubmit" class="Left" type="submit" style="color: rgb(0, 13, 87); background-color: rgb(117, 172, 255);">Submit</button>
                        <button id="resetNames" class="Right" type="reset">Reset Names</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>